{% extends "errors/base_error.html" %}

{% block error_title %}405 - Method Not Allowed{% endblock %}

{% block error_content %}
<div class="error-code">405</div>
<div class="error-title">Method Not Allowed</div>
<div class="error-message">
    The HTTP method used for this request is not supported on this resource. This usually happens when trying to perform an action that isn't allowed for this page or API endpoint.
</div>
<div class="error-actions">
    <a href="{% url 'categories-page' %}" class="btn btn-primary">Go to Categories</a>
    <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
</div>
{% endblock %}
