{% extends "errors/base_error.html" %}

{% block error_title %}500 - Server Error{% endblock %}

{% block error_content %}
<div class="error-code">500</div>
<div class="error-title">Server Error</div>
<div class="error-message">
    Something went wrong on our end. We've logged this error and our team has been notified. Please try again in a few moments.
</div>
<div class="error-actions">
    <a href="/categories/" class="btn btn-primary">Go to Categories</a>
    <a href="javascript:location.reload()" class="btn btn-secondary">Try Again</a>
</div>
{% endblock %}
